# ~/.aliases

##  APPLICATIONS
alias sshde="sudo /bin/sshd"
alias kdeconnectd="/usr/lib/kdeconnectd"

alias x="extract"
alias spe="speedtest"
alias vim="nvim"


##  CONFIGS
alias con="nvim $CONFIG"

alias deps="nvim ~/.config/bspwm/dependencies.md"

alias arc="nvim ~/.aliases"
alias brc="nvim ~/.bashrc"
alias rrc="nvim ~/.config/ranger/rc.conf"
alias lrc="nvim ~/.config/lf/lfrc"
alias vrc="nvim ~/.config/nvim/init.vim"
alias crc="nvim ~/.config/compton.conf"
alias prc="nvim ~/.profile"
alias src="nvim ~/.config/sxhkd/sxhkdrc"
alias xrc="nvim ~/.Xresources"

##  QOL
alias bsp="~/.config/bspwm/bspwmrc"
alias xr="xrdb ~/.Xresources"
alias nf="clear -x && echo -e \ && neofetch"
alias pf="pfetch"
alias p="sudo pacman"
alias c="clear"
alias ls="ls --color=auto --group-directories-first"
alias la="ls -a"
alias ll="ls -lh"
alias lla="ls -lah"
alias here="st &>/dev/null &disown"

## JC
alias hej="echo hej $USER!"

## PHONE
alias fastboot="sudo fastboot"
alias fr="fastboot reboot"
alias ff="fastboot flash"
alias ap="adb push"
alias arr="adb reboot recovery"
alias sshfon="ssh $(ip r | awk '{getline $1; print $3}') -p 8022 -i '$HOME/.ssh/id_rsa'"

[[ $(uname -o) = "Android" ]] && alias xdg-open="termux-open"
