$include /etc/inputrc

set completion-ignore-case on
set completion-map-case on
set show-all-if-ambiguous off
set mark-symlinked-directories on

Control-r:"reverse_fzf_history"
Control-f:"fuzzy_cd"
#Control-"\e[M":"here"
#Control-g:"gotop"
#Control-k:"fuzzy_kill"

#"\e[Z": menu-complete

# SEARCH HISTORY WITH UP/DOWN
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

##  VI MODE
set editing-mode vi
$if mode=vi

RETURN: "\e\n"
set show-mode-in-prompt on
set keymap vi-insert

set vi-ins-mode-string "\1\e[6 q\2"
set vi-cmd-mode-string "\1\e[2 q\2"

set keymap vi-command
Control-l: clear-screen
Control-a: beginning-of-line

set keymap vi-insert
Control-l: clear-screen
Control-a: beginning-of-line

$endif
