$include /etc/inputrc
set completion-ignore-case on
set completion-map-case on
set show-all-if-ambiguous off
set mark-symlinked-directories on

# Flip through autocompletion matches with Shift-Tab.
"\e[Z": menu-complete
#TAB:menu-complete
# Filtered history search
"\e[A": history-search-backward
"\e[B": history-search-forward

set editing-mode vi
$if mode=vi
set show-mode-in-prompt on

set vi-ins-mode-string \e[1;34m-- INDSÆT --\e[0m\e[6 q
set vi-cmd-mode-string \e[2 q
set keymap vi-insert
RETURN: "\e\n"

set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen
Control-a: beginning-of-line

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen
Control-a: beginning-of-line

$endif
