body {
   background-color: black;
   color: #999;
}

h1 {
   color: #999;
   position: absolute;
   top: 30vh;
   left: 50%;
   transform: translate(-50%);
   animation: title;
   animation-duration: 0.7s;
}

.content {
   font-size: 14pt;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 5vh;
   animation: content;
   animation-duration: 1s;
}

@keyframes title {
   0% {opacity: 0;}
   20% {opacity: 0; transform: translate(-50%, -5vh)}
   25% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes content {
   0% {opacity: 0;}
   40% {opacity: 0; transform: translate(-50%, 5vh)}
   45% {opacity: 0;}
   100% {opacity: 1;}
}
