[Desktop Entry]
Type=Application
Name=imv image viewer
Exec=/usr/bin/imv %F
NoDisplay=true
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/jpg;image/gif;image/webp;image/bmp;image/svg+xml;
